<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eat Da Burger!</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheets/style.css" type="text/css" />
</head>

<body>
  <div>
    {{{ body }}}
  </div>
<script >$(function () {
    $(".eat-btn").on("click", function (e) {
      const id = $(e.target).data("id");
      $.ajax("/api/burgers/" + id, {
        type: "PUT",
      }).then(() => location.reload());
    });


    $(".form").on("submit", function (e) {
      e.preventDefault();
      const burger_name = $("#ca").val().trim();
      $.ajax("/api/burgers", {
        type: "POST",
        data: { burger_name },
      }).then(() => location.reload());
    });
  });</script>
</body>

</html>