<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eat Da Burger!</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="../stylesheets/style.css" type="text/css" />
</head>

<body>
  <div>
  {{{ body }}}
  </div>
  script
  <script>
    $(() => {
      $(".eat-btn").on("click", (e) => {
        const id = $(e.target).data("id");
        $.ajax("/api/burgers/" + id, {
          type: "PUT",
        }).then(() => location.reload());
      });
      $(".create-form").on("submit", (e) => {
        e.preventDefault();
        const burger_name = $("#ca").val().trim();
        $.ajax("/api/burgers", {
          type: "POST",
          data: { burger_name },
        }).then(() => location.reload());
      });
    })
  </script>
</body>

</html>