body {
    background-image: url(https://memegenerator.net/img/instances/81133681.jpg);
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-attachment: fixed;
    margin: 0;
    color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div{
      background-color: white;
      border-radius: 5px;
      border: 2px solid black;
  }